*{
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#map{
    height: 93vh;
    width: 90vw;
    top: 7vh;
    position: absolute;
}


#action {
    position: absolute;
    width: 100vw;
    height: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #AAB7B8;
    padding-top: 5vh;
    z-index: 100000000;
    box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.4);
}


#point {
    width: 10vw;
    height: 93vh;
    background-color: #CCD1D1;
    z-index: 10000000;
    position: absolute;
    right: 0;
    top: 7vh;
    overflow : scroll;
    box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.4);
}


#controle{
    position : absolute;
    top: 2vh;
}

.pointGlobal {
    margin-bottom: 1vh;
}

h2{
    margin-left: 2vw;
    margin-top: 1vh;
    font-size: 1vw;
    font-style: oblique;
}

h2:hover{
    color: indianred;
}

#controle{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#modal{
    width: 50vh;
    height: 50vh;
    margin: auto;
    background-color: blanchedalmond;
    z-index: 100000000;
    box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.4);
    display: none;
}

#close {
    margin-left: 0.5vw;
    margin-top: 0.5vw;
}

#close:hover{
    color: indianred;
}