*{
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#map{
    height: 93vh;
    width: 90vw;
    top: 7vh;
    position: absolute;
}

#chooseCity{
    position: absolute;
    width: 100vw;
    height: 90vh;
    display: flex;
    top: 10vh;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#action {
    position: absolute;
    width: 100vw;
    height: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #AED6F1;
    padding-top: 5vh;
    z-index: 2;
}

#modal {
    background-color: #D4E6F1;
    position : absolute;
    width : 50vw;
    height : 50vw;
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items: center;
    z-index: 2000000;
}

#point {
    width: 10vw;
    height: 93vh;
    background-color: #AED6F1;
    z-index: 10000;
    position: absolute;
    right: 0;
    top: 7vh;
    overflow : scroll;
}

#controle{
    position : absolute;
    top: 2vh;
}

.pointGlobal {
    margin-bottom: 1vh;
}

h2{
    font-size: 1vw;
    font-style: oblique;
}

h2:hover{
    color: indianred;
}